.container{
  @include box-shadow;
  padding: 45px * $multiple;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

  .title{
    font-size: 32px * $multiple;
    text-align: center;
  }

  .react-echarts{
    height: 100%;
  }

  .legend{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;

    & > *{
      flex: auto;
    }
    .item-title{
      font-size:34px * $multiple;
    }
    .item-sub-title{
      font-size:24px * $multiple;
    }
  }
}