.container{
  @include box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 0 91px * $multiple;

  & > *{
    flex: 0 0 163px * $multiple;// !!! 这是环状图的高度，同 ReactEcharts 的高度限制一致
  }

  .title{
    text-align: center;
    font-size: 38px * $multiple;
    color: $title-color;
    flex-basis: 0;
    margin: 0;
  }

  .today, .lastweek-period{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    & > * {
      &:nth-child(1){
        font-size:34px  * $multiple;
        flex: 0 0 190px * $multiple;
      }
      &:not(:nth-child(1)){
        flex: 1 1 calc(100% / 3);
      }
    }
  }
}