.block-container{
  display: flex;
  justify-content: space-around;
  
  .title{
    font-size:22px * $multiple;
  }
  .value-container{
    margin: 25px * $multiple 0 15px * $multiple;
    color:$main-color;
    .value{
      font-size:54px * $multiple;
      font-weight: bold;
    }
    .unit{
      font-size:22px * $multiple;
      margin-left: 10px;
    }
  }
  .per-container{
    &.down{
      color: #37DDD6;
    }
    &.up{
      color: #D13357;
    }

    .per{
      font-size:38px * $multiple;
      font-weight: bold;
    }
    .status{
      font-size:22px * $multiple;
      margin-left: 10px;
    }
  }
}

.list-container{
  li{
    display: flex;
    background: #1B2143;
    box-shadow: 0px 0px 200px * $multiple 0px rgba(32, 24, 21, 1) inset;
    padding: 25px;

    &:not(:first-child){
      margin-top: 15px;
    }
    & > * {
      flex: auto;
      
      & > div:nth-child(1){
        font-size:22px * $multiple;
      }
      
      & > div:nth-child(2){
        margin-top: 15px;
        & > span:nth-child(1){
          font-size: 54px * $multiple;
          font-weight: bold;
        }
        & > span:nth-child(2){
          font-size:22px * $multiple;
          margin-left: 10px;
        }
      }
  
      &.value-container > div:nth-child(2){
        & > span{
          color: $main-color;
        }
      }
  
      &.diff-container > div:nth-child(2){
        &.down > span{
          color: #38F4E6;
        }
        &.up > span{
          color: #D03458;
        }
      }
    }
  }
}