.container{
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  
  & > * {
    height: 50%;
  }

  .map{
    padding-bottom: 12.5px;
  }

  .echarts{
    padding-top: 12.5px;
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    & > * {
      flex: 0 0 calc(100% / 3 - 25px);// 间隔是 25px
      padding: 25px;
      height: 100%;
    }
  }
}