.container{
  height: 100%;
  display: flex;
  align-items: stretch;
  
  .map{
    height: 100%;
    position: relative;
    flex: 1 1 auto;
    svg{
      width: 100%;
      height: 100%;
    }
    
    .title{
      position: absolute;
      z-index: 1;
      font-size: 32px * $multiple;
      right:50px * $multiple;
      bottom: 0;
      width: 538px * $multiple;
      height: 139px * $multiple;
    }
  }
  .legend{
    $colors: #D3B728, 
             #F38E26,
             #1A88E1,
             #E3A46F,
             #1CC699, 
             #6266FD,
             #779ABE,
             #183E63,
             #2BDCFE,
             #912FF6,
             #E02561,
             #014332,
             #014332,
             #82CA3A,
             #E03838;
    @include box-shadow;

    li{
      &:before{
        content:'';
      }

      @for $index from 1 to length($colors)+1 {
        &:nth-child(#{$index}){
          &:before{
            @include squre(16px);
            margin: 0 10px 0 0;
            display: inline-block;
            background-color: nth($colors, $index);
            border-radius: 50%;
          }
        }
      }
    }

    padding: 25px * $multiple;
    font-size: 22px * $multiple;
    line-height: 56px* $multiple;
  }
}