@import './components/style/global.scss';

.sider-container{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  .nav{
    flex: auto;
  }
  .mpc{
    flex: 0 0 138px * $multiple;
  }
}