.simpele-nav{
  overflow: auto;
  li{
    a{
      display:block;
      text-align: center;
      color: $text-color;
      font-size: 34.38px * $multiple;
      line-height: 243px * $multiple;
      position: relative;
    }
  }
  .selected{
    background-image: linear-gradient(to right, #1B605C, #142738);
    &:before{
      content:'';
      width: 6px;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: $main-color;
    }
  }
}