.simpele-nav{
  li{
    a{
      display:block;
      text-align: center;
      color: $text-color;
      font-size: 34.38px * $multiple;
      line-height: 243px * $multiple;
      position: relative;
    }
  }
  .selected{
    background-color: #0E1329;
    &:before{
      content:'';
      width: 26.3px * $multiple;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: $main-color;
    }
  }
}