.list{
  display: flex;
  justify-content: space-between;
  
  li{
    position: relative;
    cursor: pointer;
    font-size: 25px * $multiple;

    &:after{
      content:'';
      display: block;
      height: 4px;
      position: absolute;
      z-index: 1;
      width:100%;
      left: 0;
      bottom: -4px;
    }
    &:before{
      content:'';
      display: block;
      position: absolute;
      width:0;
      height: 0;
      border-width: 4px 4px 0;
      border-style: solid solid none;
      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);
      border-color: transparent;
    }
    &.current{
      &:after{
        background-color: $main-color;
      }
      &:before{
        border-color: $main-color transparent;
      }
    }
  }
}

.list-vertical{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  li{
    position: relative;
    cursor: pointer;
    font-size: 25px * $multiple;

    &.current{
      $color: rgba(34, 228, 157, 1);
      color: $color;
      border-right: 1px solid $color;
      
      &:after{
        content:'';
        display: block;
        position: absolute;
        width:0;
        height: 0;
        border-width: 4px 0 4px 4px;
        border-style: solid none solid solid; 
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
        border-color: transparent transparent transparent $color;
      }
    }
  }
}