.legend{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color:rgba(10, 13, 30, .85);
  box-shadow: 0px 0px 25px 2px rgba(17, 21, 47, 0.38);
  border-radius: 15px;

  li{
    padding: 25px;
    color: #C7C7C7;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #070A17;
    box-shadow: 0px 0px 25px 2px rgba(17, 21, 47, 0.38);
    border-radius: 15px;
    cursor: pointer;

    &.tip{
      display: flex;
      justify-content: space-around;
      background-color:rgba(10, 13, 30, .85);
      border-width: 19px * $multiple 0;
      border-style: solid;
      border-color: rgba(25, 190, 169, 1);
    }

    &.selected{
      background-color: #1A2041;
      box-shadow: 0px 0px 27px 0px rgba(17, 10, 28, 0.92);
    }

    .icon{
      @include squre(116px);
      background: no-repeat center center;
      background-size: 100%;
    }
    .name{
      font-size: 24px * $multiple;
      line-height: 38px * $multiple;
      margin-top: 15px;
    }
    .value{
      margin-top: 25px;
      & > *:nth-child(1){     
        font-size: 95px * $multiple;
        font-weight: bold;
      }
      & > *:nth-child(2){     
        font-size: 24px  * $multiple;
        margin-left: 12px;
      }
    }
  }
}